In [37]:
double price, tax; 
System.out.println("*** Product Price Check ***"); 
price = 20000; // input price
tax = 4; // input tax
System.out.print("\ninitial price: "+price); 
System.out.print("\ninitial tax: "+tax);
price = price * (1 + tax/100);

System.out.println(price);

*** Product Price Check ***

initial price: 20000.0
initial tax: 4.020800.0

null


2.A Self-test Questions

Soal 1A.

Tipe data Java apakah yang paling tepat untuk digunakan untuk item - item dari data berikut ini?

    nama yang diberikan kepada mahasiswa
    jumlah maksimum orang yang diizinkan naik bus;
    berat barang yang dibeli di supermarket;
    nilai yang diberikan kepada siswa (misalnya ‘A’, ‘B’ atau ‘C’).

Jawab :
string,integer,double,char

jawaban 2A

In [12]:
double m = 75.5;

int n = 75;

null

jawaban 3A

Manakah dari berikut ini yang akan menjadi nama yang betul untuk suatu variabel.

ticket

cinemaTicket

cinema_ticket

jawaban 4A

In [11]:
final int YEAR; 
int age, bornIn; 
YEAR= 2020;
age = 10; 

bornIn = YEAR - age; 

System.out.println("Anda Lahir Tahun " + bornIn);

Anda Lahir Tahun 2010

null

JAWABAN 5A

In [15]:
int v, x, y, z;
v = 6;
x = 5; 
y = x + 2 + v; 
x = 10; 
z = y * x;
System.out.println("Nilai z adalah:" + z);

Nilai z adalah:130

null

jawaban 6A

In [22]:
int num1, num2,a,b; 

num1 = 10;

num2 = 6; 

a = num1 + 2; 
b = num1 / num2;

System.out.println("Nilai a adalah:" +a);
System.out.println("Nilai b adalah:" +b);

Nilai a adalah:12
Nilai b adalah:1

null

jawaban 7A

In [25]:
int panjang,lebar,keliling,luas; 

panjang = 10; 
lebar = 5;
System.out.print("Panjangnya  "+panjang); 
System.out.print("Lebarnya: "+lebar); 
 
keliling=2*panjang+2*lebar;
luas=panjang*lebar;

System.out.println("Kelilingnya:  "+keliling); 
System.out.println("Luasnya: "+luas);

Panjangnya  10Lebarnya: 5Kelilingnya:  30
Luasnya: 50

null

jawaban 8A

In [18]:
int x, y; 

x = 2; 
y = 4;
System.out.print("value for x "+x); 
System.out.print("value for y "+y); 
 
x=x^y;
y=x^y;
x=x^y;

System.out.println("x : " + x); 
System.out.println("y : " + y);

value for x 2value for y 4x : 4
y : 2

null

jawaban 1B

jawaban 2B

In [ ]:
0

jawaban 3B

In [26]:
int panjang,lebar,keliling,luas; 

panjang = 10; 
lebar = 5;
System.out.print("Panjangnya  "+panjang); 
System.out.print("Lebarnya: "+lebar); 
 
keliling=2*panjang+2*lebar;
luas=panjang*lebar;

System.out.println("Kelilingnya:  "+keliling); 
System.out.println("Luasnya: "+luas);

Panjangnya  10Lebarnya: 5Kelilingnya:  30
Luasnya: 50

null

jawaban 4B

In [27]:
double pounds=5.6;
double kilos;

System.out.print("initial pounds: "+pounds); 

kilos=pounds*0.45359237;

System.out.println("Kilos: " +kilos);

initial pounds: 5.6Kilos: 2.540117272

null

jawaban 5B

In [10]:
double bmi; 
double berat=65;
double tinggi=1.68;

System.out.println("initial berat: "+berat); 
System.out.println("initial tinggi: "+tinggi); 

bmi=berat/(tinggi*tinggi);

System.out.println("Individual Body Mass Index: "+bmi);

initial berat: 65.0
initial tinggi: 1.68
Individual Body Mass Index: 23.030045351473927

null

jawaban 6B

In [36]:
double r,luas,keliling; 
double phi= 3.14;

r = 7; // input r
System.out.print("initial r: "+r); 

luas = phi*(r*r);
keliling = 2*(phi*r);

System.out.println("Keliling Lingkaran adalah: "+keliling);
System.out.println("Luas Lingkaran adalah: "+luas);

initial r: 7.0Keliling Lingkaran adalah: 43.96
Luas Lingkaran adalah: 153.86

null